.checkbox {
    accent-color: red;
}

.card_file {
    position: relative;
}

.selected {
    background-color: #666;
    color: #fff;
}

#contextMenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#contextMenu li {
    cursor: pointer;
}

.card-file .card-body {
    font-size: 15px;
}

.card-file .card-img {
    height: 200px;
    width: auto;
    object-fit: contain;
    text-align: center;
}

.card-file embed {
    object-fit: contain;
}

.icon-file {
    height: 200px;
    text-align: center;
}

.icon-file i {
    transform: translateY(50%);
    font-size: 100px;
}

.card-file input {
    margin-left: 0px;
    height: 30px;
    width: 30px;
}

.card_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}


.popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.200);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.popup-wrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    width: 30%;
    background: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popup_button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.popup_content_item {
    margin-bottom: 20px;
}

.popup_content_item input {
    width: 250px;
}

#menu ul {
    background: whitesmoke;
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}

#menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

#menu li:hover {
    background-color: #bec4ff;
}






